@use "colors" as color;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: color.$content;
	background-color: color.$background;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

#app {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 1.5em;
}

section {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

a {
	color: color.$content;
	font-size: 0.8rem;
}

.error {
	margin: 1em 0;
	color: color.$error;
	text-align: center;
}

button {
	color: color.$content;
	outline: none;
	border: 1px solid color.$content;
	border-radius: 0.25em;
	cursor: pointer;
	background-color: transparent;
	padding: 0.5em;
	font-size: 1rem;

	&:hover {
		background-color: color.$hover;
	}
}
